In [0]:
# practicing book recommender model

In [0]:
# imports


import numpy as pd
import pandas as pd
import pickle


from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix

import re

In [0]:
# load data sets
# from kaggle
# books.csv has 10k books
# ratings.csv ranging from 1-5 stars

In [0]:
books = pd.read_csv('https://raw.githubusercontent.com/zygmuntz/goodbooks-10k/master/books.csv')

In [0]:
ratings = pd.read_csv('https://raw.githubusercontent.com/zygmuntz/goodbooks-10k/master/ratings.csv')

In [8]:
print(ratings.shape)
ratings.head()

(5976479, 3)

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [9]:
print(books.shape)
books.head()

(10000, 23)

   book_id  ...                                    small_image_url
0        1  ...  https://images.gr-assets.com/books/1447303603s...
1        2  ...  https://images.gr-assets.com/books/1474154022s...
2        3  ...  https://images.gr-assets.com/books/1361039443s...
3        4  ...  https://images.gr-assets.com/books/1361975680s...
4        5  ...  https://images.gr-assets.com/books/1490528560s...

[5 rows x 23 columns]

In [11]:
# trim down
# only need book id and title

cols = ['book_id', 'title']

books = books[cols]
books.head()

   book_id                                              title
0        1            The Hunger Games (The Hunger Games, #1)
1        2  Harry Potter and the Sorcerer's Stone (Harry P...
2        3                            Twilight (Twilight, #1)
3        4                              To Kill a Mockingbird
4        5                                   The Great Gatsby

In [0]:
# clean up titles
# there are empty spaces !!

def clean_book_titles(title):
  title = re.sub(r'\([^)]*\)', '', title) # handles brackets
  title = re.sub(' + ', ' ', title) #compresses multi spaces into a single space
  title = title.strip() # handles special characters
  return title

In [13]:
books['title'] = books['title'].apply(clean_book_titles)

books.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   book_id                                  title
0        1                       The Hunger Games
1        2  Harry Potter and the Sorcerer's Stone
2        3                               Twilight
3        4                  To Kill a Mockingbird
4        5                       The Great Gatsby

In [0]:
# so neat!

In [15]:
# feature matrix
# combine datasets

books_ratings = pd.merge(rating, books, on='book_id')

print(books_ratings.shape)

books_ratings.head()

(5976479, 4)

   user_id  book_id  rating                   title
0        1      258       5  The Shadow of the Wind
1       11      258       3  The Shadow of the Wind
2      143      258       4  The Shadow of the Wind
3      242      258       5  The Shadow of the Wind
4      325      258       4  The Shadow of the Wind

In [18]:
# remove dups

user_ratings = books_ratings.drop_duplicates(['user_id', 'title'])

print(user_ratings.shape)
user_ratings.head()

(5972713, 4)

   user_id  book_id  rating                   title
0        1      258       5  The Shadow of the Wind
1       11      258       3  The Shadow of the Wind
2      143      258       4  The Shadow of the Wind
3      242      258       5  The Shadow of the Wind
4      325      258       4  The Shadow of the Wind

In [19]:
# create a matrix using user_rating

user_matrix = user_ratings.pivot(index='title', columns='user_id', values='rating').fillna(0)

user_matrix.head()

user_id                                           1      2      ...  53423  53424
title                                                           ...
"ÿ≠ŸÉÿßŸäÿßÿ™ ŸÅÿ±ÿ∫ŸÑŸä ÿßŸÑŸÖÿ≥ÿ™ŸÉÿßŸàŸä "ÿ≠ŸÉÿßŸäÿ™Ÿâ ŸÖÿπ ŸÉŸÅÿ± ÿßŸÑÿ≥ÿ≠ŸÑÿßŸàŸäÿ©    0.0    0.0  ...    0.0    0.0
#GIRLBOSS                                           0.0    0.0  ...    0.0    0.0
'Salem's Lot                                        0.0    0.0  ...    5.0    0.0
'Tis                                                0.0    0.0  ...    0.0    0.0
1,000 Places to See Before You Die                  0.0    0.0  ...    0.0    0.0

[5 rows x 53424 columns]

In [0]:
# compress it
# too large

compressed = csr_matrix(user_matrix.values)

In [21]:
# build and train knn

# unsupervised learning
# using cosine to measure space/distance

knn = NearestNeighbors(algorithm='brute', metric='cosine')

knn.fit(compressed)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [24]:
def get_recommendations(book_title, matrix=user_matrix, model=knn, topn=5):
    book_index = list(matrix.index).index(book_title)
    distances, indices = model.kneighbors(matrix.iloc[book_index,:].values.reshape(1,-1), n_neighbors=topn+1)
    print('Recommendations for {}:'.format(matrix.index[book_index]))
    for i in range(1, len(distances.flatten())):
        print('{}. {}, distance = {}'.format(i, matrix.index[indices.flatten()[i]], "%.3f"%distances.flatten()[i]))
    print()
    
get_recommendations("Harry Potter and the Sorcerer's Stone")
get_recommendations("Moby-Dick or, The Whale")
get_recommendations("Little Women")
get_recommendations("Charlie and the Chocolate Factory")

Recommendations for Harry Potter and the Sorcerer's Stone:
1. Harry Potter and the Prisoner of Azkaban, distance = 0.320
2. Harry Potter and the Chamber of Secrets, distance = 0.327
3. Harry Potter and the Goblet of Fire, distance = 0.331
4. Harry Potter and the Order of the Phoenix, distance = 0.342
5. Harry Potter and the Half-Blood Prince, distance = 0.348

Recommendations for Moby-Dick or, The Whale:
1. The Odyssey, distance = 0.701
2. A Tale of Two Cities, distance = 0.703
3. The Adventures of Huckleberry Finn, distance = 0.703
4. Frankenstein, distance = 0.710
5. The Old Man and the Sea, distance = 0.729

Recommendations for Little Women:
1. Pride and Prejudice, distance = 0.519
2. Jane Eyre, distance = 0.539
3. To Kill a Mockingbird, distance = 0.561
4. The Diary of a Young Girl, distance = 0.561
5. Sense and Sensibility, distance = 0.561

Recommendations for Charlie and the Chocolate Factory:
1. James and the Giant Peach, distance = 0.541
2. Matilda, distance = 0.543
3. The Witches, distance = 0.616
4. Charlotte's Web, distance = 0.619
5. The BFG, distance = 0.622